.SideTrends {
  border-left: 1px solid lightgrey;
  width: 35vw;
  display: none;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
  transition: all 0.35s;

}



.search_twitter{
  width: 80%;
  margin:15px 0 10px 0;
  height: 45px;
  border-radius: 25px;;
  padding-left: 20px;
  font-size: 1.1rem;
  border: 1px solid grey;
  background-color: rgba(211, 211, 211, 0.334);
}

.list{
  width: 80%;
  margin:15px 0 10px 0;
  border-radius: 25px;;
  padding-left: 20px;
  font-size: 1.1rem;
  border: 1px solid grey;
  background-color: rgba(211, 211, 211, 0.334);
}

.list h2{
  font-weight: bold;
}




.follow_suggestions{
  width: 80%;
  margin:15px 0 10px 0;
  border-radius: 25px;;
  padding-left: 20px;
  font-size: 1.1rem;
  border: 1px solid grey;
  background-color: rgba(211, 211, 211, 0.334);
}


.terms{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}
.terms ul{

 margin:15px 15px 10px 0;
 color: grey;
 font-size: 0.9rem;;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 list-style-type:none;
 padding:0;
 
}



.terms ul li a{
  text-decoration: none;
  color: grey;
  padding:0;
  margin:0;

  
}

.terms ul li p{
  padding:0;
  margin-top:3px;
  
}


.messages{
  position: sticky;
  bottom:0px;
  width: 80%;
  margin:15px 0 10px 0;
  height: 45px;
  border-top-right-radius: 25px;;
  border-top-left-radius: 25px;;
  padding-left: 20px;
  border: 1px solid grey;
  background-color: rgba(211, 211, 211, 0.334);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 1px #8888887f;
}


/* ATTENZIONE AL MOBILE FIRST */
@media screen and (min-width: 800px) {
  .SideTrends {
    display: flex;
    flex-direction: column;
  }
}
