*{
  box-sizing: border-box;
}

.Header {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.845);
  width: 100%;
}

.top_container_mobile {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: bold;
  

}

.top_container_desk {
  display: none;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items:flex-start;
  padding: 5px 0 5px 12px;
  font-weight: bold;
  font-size: 1.2rem;

}


.first_col,
.second_col,
.third_col{
  display: flex;
  align-items: center ;
  width: 33.33333vw;
}

.second_col{
justify-content: center;
}


.first_col{
  width: calc(33.33333vw - 10px);
  padding-left: 10px;
}

.twitter_img{
  width: 42px ;
}


.profile_img {
  width: 35px ;
  border: 1px solid;
  border-radius: 100%;
}


.bottom_container{
  position: sticky;
  top:0px;
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 100vw;
  border-bottom: 1px solid lightgrey;
  
 
}

.left,
.right{
width: 50vw;
display: flex;
align-items: center ;
justify-content: center;
padding:0;
margin: 0;
}

.left h3,
.right h3{
  padding: 0 0 20px 0;
  margin: 0;
  border-bottom: 5px solid #01b5f1;
  font-weight: bold;
}

.whatsappen{
  display:none;
  flex-direction:column;
  padding:20px 0 0 0;
  margin:0;
  border-bottom: 1px solid lightgray;
  width: 100%;
  }
  
  .whatsappen .text{
    display:flex;
    flex-direction: row;
    gap:20px;
    padding-left:20px
  }


  .text input{
  height:30px;
  font-size: 1.1rem;
  border: none;
  }
  
  .text .btn_filter{
    background-color: #01b5f1;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    color: white;
    height: 35px;
    width: 80px;
    font-size: 1rem;
    border-radius: 20px;
    padding:0 10px;
    margin:0;
    
   
  }
  
  .icons{
  display:flex;
  justify-content: space-between;
  }
  
  .icons:hover{
    cursor:pointer;
  }
  
  .icons button{
    background-color: #01b5f1;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    color: white;
    height: 35px;
    width: 80px;
    font-size: 1rem;
    border-radius: 20px;
    margin:13px 15px 0 0;
    }
    
  
  
  .icons ul{
    display:flex;
    list-style-type: none;
    margin-left: 30px;
    gap:8px;
    font-size:20px ;
    }
  
  
    .icons ul li{
      color: #01b5f1;
      }






.more_tweet{
  display: flex;
  align-items: center ;
  justify-content: center;
  height: 60px;
  width: 100vw;
  border-bottom: 1px solid lightgrey;
}

.more_tweet h3{
  padding: 0;
  margin: 0;
  border:0;
  color: #01b5f1;
  font-weight: lighter;
}

@media screen and (min-width: 800px) {
  .top_container_desk {
    display: flex;
  }
  }

  @media screen and (min-width: 800px) {
  .top_container_mobile {
     display: none;
   }
   }

   @media screen and (min-width: 800px) {
    .Header {
    width: 45vw;
    position:fixed;
    top:0;
    left:18.4vw;
      }
      }


      @media screen and (min-width: 800px) {
        .whatsappen {
          display:flex;
        }
        }


  @media screen and (min-width: 800px) {
 .bottom_container {
   width: 100%;
   }
  }

 @media screen and (min-width: 800px) {
 .more_tweet {
  width: 100%;
  }
 } 

 @media screen and (min-width: 800px) {
  .more_tweet {
   width: 100%;
   display: none;;
   }
   } 


  



 @media screen and (min-width: 800px) {
  .bottom_container {
  position:initial
   }
   } 